.book-enter {
    opacity: 0;
}

.book-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.book-exit {
    opacity: 1;
}

.book-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}